<% posts.each do |post_info| %>
  <div class="col-lg-3 col-md-3 mb-3">
    <div class="card h-100">
      <%= link_to ("posts/%d" % post_info.id)  do %>
        <%= image_tag post_info.image.url(:thumb), class:"card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to post_info.title, "posts/%d" % post_info.id %>
        </h5>
        <h5>USD $<%= post_info.price %></h5>
        <p class="card-text"><%= post_info.category %> / <%= post_info.subcategory %></p>
        <a href="#" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
<% end %>