<div class="container" id="adminPage">
  
  <h2 class="text-center">Statistics Blocks</h2>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-5">
      <%= render partial: 'users/user_stats' %>
    </div>
    <div class="col-5">
      <%= render partial: 'users/post_stats' %>
    </div>
  </div>
  
  <h2 class="text-center">Pie Charts</h2>
  <div class="row">
    <div class="col-6">
      <%= render partial: 'graphs/post_condition' %>
    </div>
    <div class="col-6">
      <%= render partial: 'graphs/category_condition' %>
    </div>
  </div>
  
  <h2 class="text-center">Time Series</h2>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <%= render partial: 'graphs/post_timeseries' %>
    </div>
    
  </div>
  
</div>
