<div class="container">
  
  <div class="row">
	  <div class="col-1"></div>
	   <div class="col-10">
	     <h3>Post Something!</h3>
	   </div>
  </div>
	<div class="row">
	  <div class="col-1"></div>
	  <div class="col-10">
    <%= form_for :post, :method => :post, :html => { :multipart => true } do |f|%>
      
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control form-control-lg" %>
      </div>
      
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, id: "Image", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", rows: "10" %>
      </div>
      
      <div class="row">
        <div class="col-1"></div>
        
        <div class="col-5">
          <div class="form-group">
            <%= f.label :category %> 
            <%= f.select :category, Post.get_categories.map { |c| [c.to_s, c.to_s] }, { include_blank: '- Select -' }, { class: "form-control" } %>
          </div>
        </div>
        
        <div class="col-5">
          <div class="form-group">
            <%= f.label :subcategory %> 
            <%= f.select :subcategory, (Post.get_subcategories(:item) + Post.get_subcategories(:job) + Post.get_subcategories(:event)).map { |c| [c, c] },
                      { include_blank: '- Select -' }, { class: "form-control" } %>
          </div>
        </div>
        
      </div>
      
      <div class="form-group">
        <%= f.label :Email %> 
        <%= f.text_field :author_id, id: "Email", value: "test@email.com", readonly: true, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.submit class:"btn btn-primary" %>
      </div>
      
    <% end %>
  </div>
</div>
