<div class="container">
  
  <!--header-->
  <div class="row">
	  <div class="col-1"></div>
	   <div class="col-10">
	     <h3>Post Something!</h3>
	   </div>
  </div>
  <!--header-->
  
  <%= form_for @post, :method => :post, :html => { :multipart => true } do |f| %>
  
	<div class="row">
	  <div class="col-1"></div>

    
    
    <!--image-->
    <div class="col-4">
      <div class="form-group">
        <%= f.label :image %>
        <img src="/images/post_default.png" class="img-fluid" alt="Responsive image">
        <%= f.file_field :image, id: "Image", class: "form-control", required: true %>
      </div>
    </div>  
  	<!--image-->
  	
  	<div class="col-6">    
      
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control form-control-lg", required: true, minlength: "1", maxlength: "32"%>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: "form-control", required: true%>
      </div>
      
      <!--category-->
      <!--<div class="row">-->
      <!--  <div class="col-1"></div>-->
        
      <!--  <div class="col-5">-->
          <div class="form-group">
            <%= f.label :category %> 
            <%= f.select :category, Post.get_categories.map { |c| [c.to_s, c.to_s] }, { include_blank: '- Select -' }, { class: "form-control", required: true }%>
          </div>
        <!--</div>-->
        
        <!--<div class="col-5">-->
          <div class="form-group">
            <%= f.label :subcategory %> 
            <div id="updateFormSubcategory">
              <%= render partial: 'posts/subcategory', locals: {subcategory: @empty_subcategory, current_subcategory: @current_subcategory}  %>
            </div>
          </div>
        <!--</div>-->
      <!--</div>-->
      <!--category-->
      
      <div class="form-group">
        <%= f.label :Email %> 
        <%= f.text_field :author_id, id: "Email", value: "test@email.com", readonly: true, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", required: true, maxlength: "512" %>
      </div>
      
      <div class="form-group">
        <%= f.submit class:"btn btn-primary" %>
      </div>
    
    </div>
  </div>
<% end %>
</div>


<script>
$('#post_category').change(function() {

  var category = $(this).val();
  
  $.ajax({
      url: "/update_form_subcategory",
      type: "GET",
      data: { "category": category }
  });
});
</script>