<div class="container", id="showPost">
    
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a>
            <li class="breadcrumb-item"><%= link_to @post.category, posts_path(category: @post.category) %>
            <li class="breadcrumb-item"><%= link_to @post.subcategory, posts_path(category: @post.category, subcategory: @post.subcategory) %>
            <li class="breadcrumb-item active"><%= @post.title %>
          </ol>
      </div>
    </div>
    
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <img><%= image_tag @post.image.url%></img> 
      </div>
      
      <div class="col-6">
           <h1><%= @post.title %></h1> 
           <h3>USD $<%= @post.price %></h3> 
           <p><%= @post.category %> / <%= @post.subcategory %> </p> 
           <p><%= if @post.available then 'Available' else 'Not available' end %> (released on: <%= @post.release_time%>) </p> 
           <p>Contact: <%= @user.name %></p>
           <p>Email: <a href="mailto:<%= @user.email %>"> <%= @user.email %> </a></p>
           <% if current_user.superuser? %>
             <a class="btn btn-primary btn-l js-scroll-trigger" href="/admin/check_posts">Status</a>
             <a class="btn btn-primary btn-l js-scroll-trigger" href="/admin/check_posts">Remove</a>
           <% end %>
           <a class="btn btn-primary btn-l js-scroll-trigger" href="/admin/check_posts">Add to Wishlist</a>
           <p></p>
           <h3>Description</h3>
           <p><%= @post.description %></p> 
      </div>
    </div>

</div>
</div>