
<div class="container">

    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= posts_path %>">Home</a></li>
        <li class="breadcrumb-item active"><%= @post.title %></li>
      </ol>
    </div>

      <h1><%= @post.title %></h1>
      <h2>$<%= @post.price %></h2>
      <img src="<%= asset_path(@post.img_name) %>" alt="", style="height:300px;">
      <h2>status: <%= if @post.available then 'available' else 'not available' end %></h2>
      <p>Released at <%= @post.release_time%></p>
      <p>Expires at <%= @post.expire_time%></p>
      <p><%= @post.description %></p>
      <h3>category: <%= @post.category %></h3>
      <h3>subcategory: <%= @post.subcategory %></h3>

</div>