<div class="container", id="showPost">
    
    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= posts_path %>">Home</a> 
        <li class="breadcrumb-item active"><%= @post.title %> 
      </ol>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-9">
           <h1><%= @post.title %></h1> 
           <br>
           <img><%= image_tag @post.image.url%></img> 
           <h2>$<%= @post.price %></h2> 
           <h3>Category: <%= @post.category %></h3> 
           <h3>Subcategory: <%= @post.subcategory %></h3> 
           <h4>Status: <%= if @post.available then 'available' else 'not available' end %></h4> 
           <p>Released on: <%= @post.release_time%></p> 
           <p>Expires on: <%= @post.expire_time%></p> 
           <p><span>Description:</span><br> <%= @post.description %></p> 
           
      </div>
    </div>

</div>
</div>