<!--<div class="container", id="showPost">-->
    

  
   <nav class="clean">
      <div class="nav-wrapper left">
          <div class="col s12">
            <%= link_to "home", root_path, class: "breadcrumb white" %>
            <%= link_to @post.category, root_path(filterrific: {choose_category: @post.category + "_all" }), class: "breadcrumb white" %>
            <%= link_to @post.subcategory, root_path(filterrific: {choose_category: @post.category + "_" + @post.subcategory}), class: "breadcrumb white" %>
            <a href="#", class="breadcrumb white"><%= @post.title %></a>
          </div>
      </div>
   </nav>
   
     <br />
     
     
    

    <div class="row">

      <div class="col s12">
         <h5 class="sub_header"><%= @post.title %></h5> 
      </div>
              
    
      <div class="col s4 ">
          <div class="card" id="details-card" style="">
              
            <div class="card-content">
              <div class="chip">
                <%= image_tag @profile_img, id: "Profile Image", class: "img-fluid", alt: "Responsive image" %>
                <a href="mailto:<%= @user.email %>"> <%= @user.email %> </a>
              </div>
            </div>
            
            <div class="card-image">
              <img><%= image_tag safe_url(@post.image.url)%></img> 
            </div>

          </div>
      </div>
      
      

     
      
      <div class="col s8">

        <div class="card-panel">
            
           <h5>USD $<%= @post.price %></h5> 
           <p style="color:<%= if @post.available then 'green' else 'red' end %>"><%= if @post.available then 'Available' else 'Not available' end %> <%= @release_time_formatted%> </p> 
         
           <div class="row">
               <% if current_user.superuser? %>
                 <%= link_to "Remove by Admin", post_destroy_path(@post), data: { confirm: "This is irreversible! Are you sure you want to delete this post?" }, class: "btn btn-primary btn-l js-scroll-trigger" %>
               <% end %>
               
               <% if current_user.id == @post.author_id %>
                 <%= link_to "EDIT", edit_post_path(@post), class: "btn btn-primary btn-l js-scroll-trigger" %>
               <% end %>
            
               <% if not @wish.nil? %>
                   <%= link_to "Remove from Wishlist",  delete_from_wish_path(@post, @wish), class: "btn btn-primary btn-l js-scroll-trigger" %>
               <% else %>
                   <%= link_to "Add to Wishlist", new_post_wish_path(@post), class: "btn btn-primary btn-l js-scroll-trigger" %>
               <% end %>
            </div>
            
                <p><%= @post.description %></p> 
          </div>
          
        
      </div>
    </div>
    
</div>
<!--</div>-->