<div class="container", id="showPost">
    
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", posts_path %>
            <li class="breadcrumb-item"><%= link_to @post.category, filter_path(category: @post.category), remote: true %>
            <li class="breadcrumb-item"><%= link_to @post.subcategory, filter_path(category: @post.subcategory), remote: true %>
            <li class="breadcrumb-item active"><%= @post.title %>
          </ol>
      </div>
    </div>
    
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <img><%= image_tag @post.image.url%></img> 
      </div>
      
      <div class="col-6">
           <h1><%= @post.title %></h1> 
           <h3>USD $<%= @post.price %></h3> 
           <p><%= @post.category %> / <%= @post.subcategory %> </p> 
           <p><%= if @post.available then 'Available' else 'Not available' end %> (released on: <%= @post.release_time%>) </p> 
           <a href="mailto:<%= @user.email %>"> Contact: <%= @user.email %> </a>
           <p></p>
           <h3>Description</h3>
           <p><%= @post.description %></p> 
      </div>
    </div>

</div>
</div>