<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Berkeley MarketPlace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:search_terms, "Search here!") %>
        <%= text_field_tag(:search_terms) %>
        <%= submit_tag("GO") %>
      <% end %>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" id="create_post" href="/posts/new">Post Now!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/profile"><%= current_user.name %></a>
        </li>
        <% if current_user.superuser? %>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>