<!DOCTYPE html>
<html>
<head>
  <title>Berkeley MarketPlace</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
  
  <% if current_user %>  
  
  <%= render "layouts/header" %>
  
  <% if flash[:notice] %>
    <div class="row" id="flash">
	   <div class="col-12">
     <% flash[:notice].each do |s| %>
        <h5><%= s %></h5>
      <% end %>
	   </div>
    </div>
  <% end %>
  
  <div id="pageContent">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  
  <% else %> 
    <%= render "layouts/login" %>
  <% end %> 

</body>
</html>
