<!DOCTYPE html>
<html>
<head>
  <title>Berkeley MarketPlace</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
  
  <% if current_user %>  
  
  <%= render "layouts/header" %>
  
  <div id="pageContent">
    
    <% if flash[:notice] %>
      <div class="row" id="flash">
  	   <div class="col-12">
          <h5><%= flash[:notice] %></h5>
  	   </div>
      </div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="row" id="flash">
  	   <div class="col-12">
          <h5><%= flash[:alert] %></h5>
  	   </div>
      </div>
    <% end %>
    
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  
  <% else %> 
    <%= render "layouts/login" %>
  <% end %> 

</body>
</html>
